<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Quick Collect</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button id="open-create-modal" expand="block">Create Collection</ion-button>
    <ion-modal trigger="open-create-modal">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Create Collection</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <ion-item>
                    <ion-input
                        label="Enter collection name"
                        labelPlacement="stacked"
                        type="text"
                        placeholder="Collection name"
                        [(ngModel)]="newCollectionName"
                    ></ion-input>
                </ion-item>
            </ion-content>
        </ng-template>
    </ion-modal>

    <ion-accordion-group [value]="['all']" class="ion-margin-top">
        <ion-accordion value="all">
            <ion-item slot="header" color="secondary">
                <ion-label>All Collections</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <ion-list *ngIf="collections().length > 0" [inset]="true">
                    <ion-item *ngFor="let collection of collections()">
                        <ion-label (click)="viewCollection(collection)">{{ collection.title }}</ion-label>
                        <ion-button
                            slot="end"
                            (click)="deleteCollection(collection)"
                            fill="clear"
                            color="danger"
                        >
                            <ion-icon name="trash" slot="icon-only"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
                <ion-list *ngIf="collections().length === 0" [inset]="true">
                    <ion-item>
                        <ion-label>No collections.</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
